.bg-module {
    background: teal;
}

.border-module {
    border-color: teal;
}

input,
textarea,
select {
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid teal;
    transition: all 0.2s ease-in-out;
}

input[type="button"], input[type="submit"], input[type="file"], input[type="reset"] {
    background-color: teal;
    color: white;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid teal;
    transition: all 0.2s ease-in-out;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 128, 128, 0.3); /* teal glow */
}

input::placeholder,
textarea::placeholder {
    color: black;
}